h1= book.title

p
  a(href="/books/#{book.id}/edit") Edit this book
p
  a(href="/books/#{book.id}/delete") Delete this book

if book.haveRead
  p This book is #{book.pages} pages long, and you have read this book.
else
  p This book is #{book.pages} pages long, and you have not read this book.
